
<div class="menu app-menu">
  {% if perms.sdcpeople.view_item %}
    {% url 'sdcpeople:person-list' as person_url %}
    {% if person_url == url_here %}
      <div class="menu-item menu-here">
        People
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{{ person_url }}">People</a>
      </div>
    {% endif %}
  {% endif %}

  {% if perms.sdcpeople.view_event %}
    {% url 'sdcpeople:event-list' as event_url %}
    {% if event_url == url_here %}
      <div class="menu-item menu-here">
        Events
      </div>
    {% else %}
      <div class="menu-item">
        <a href="{{ event_url }}">Events</a>
      </div>
    {% endif %}
  {% endif %}

</div>
