{% extends './_form.html' %}
{% load static %}

{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">

    <div class="form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <input type="hidden" name='opener' id="input_opener">

      <div id="div_name">
        {% include 'touglates/form_field.html' with field=form.name %}
      </div>

      {% include 'touglates/form_field.html' with label="Submit Form" field='<button type="submit">Submit</button>' %}

    </div>

  </form>
{% endblock %}
{% block bottomscript %}
  {{ block.super }}
{% endblock %}

