{% extends './_form.html' %}
{% load static %}
{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">
    <div class="form">
      <input type="hidden" name='opener' id="input_opener">
      <div class="form">
        {% csrf_token %}
        {% for field in form.hidden_fields %}
          {{ field }}
        {% endfor %}
        {% for field in form.visible_fields%}
          <div class="field-wrapper">
            {% if field.errors %}
              <div class="errors">
                {{ field.errors }}
              </div>
            {% endif %}
            <div class="control">
              <div class="label">
                {{ field.label_tag }}
              </div>
              <div class="field">
                {{ field }}
              </div>
            </div>
            <div class="help_text">
              {{ field.help_text}}
            </div>
          </div>
        {% endfor %}
        <button type="submit">Submit</button>
      </div>
    </div>
  </form>

  <script>
    if(window.opener) {
      document.getElementById('input_opener').value = window.opener.location.href
    }
  </script>
{% endblock %}
