{% extends './_base.html' %}
{% block content %}

  {% include './event_detail_include.html' %}

  <div class="menu menu-bottom">
    {% if perms.sdcpeople.change_event or is_this_user %}
      <div class="menu-item">
      <a href="{% url 'sdcpeople:event-update' object.pk %}">Edit</a>
      </div>
    {% endif %}
    {% if perms.sdcpeople.delete_event %}
      <div class="menu-item">
      <a href="{% url 'sdcpeople:event-delete' object.pk %}">Delete</a>
      </div>
    {% endif %}
    <div class="menu-item">
    <a id="a_list_people" href="{% url 'sdcpeople:person-list' %}" >List People</a>
    </div>

  </div>


  {% endblock %}
