{% extends './_base.html' %}
{% load static %}
{% block content %}

  {% url 'sdcpeople:person-list' as vista_form_action %}
  {% include 'tougshire_vistas/filter.html' with vista_form_action=vista_form_action %}

  <div class="list">
    <div><a href="{% url 'sdcpeople:person-create' %}">create</a></div>
    <div><a href="{% url 'sdcpeople:person-csv' %}">export</a></div>
    {% if perms.sdcpeople.add_person %}<div><a href="{% url 'sdcpeople:person-csvupload' %}">Upload CSV</a></div>{% endif %}
    {% if perms.sdcpeople.add_savedlist %}<div><a href="{% url 'sdcpeople:savedlist-create' %}">Save List</a></div>{% endif %}
    
    <div class="row rowhead">
        {% include './_list_head.html' with field='' %}
        
        {% if 'vb_voter_id' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="VAN ID" %}
        {% endif %}
        {% if 'name' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Name" %}
        {% endif %}
        {% if 'is_quorum' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Quorum" %}
        {% endif %}
        {% if 'membership_status' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Status" %}
        {% endif %}
        {% if 'positions' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=person_labels.positions %}
        {% endif %}
        {% if 'submemberships' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Committees" %}
        {% endif %}
        {% if 'contactvoice' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Voice Phones" %}
        {% endif %}
        {% if 'contacttext' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Text" %}
        {% endif %}
        {% if 'contactemail' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Emails" %}
        {% endif %}
        {% if 'voting_address' in show_columns or not show_columns %}
          {% include './_list_head.html' with field=person_labels.voting_address %}
        {% endif %}
        {% if 'voting_address.locationcity' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="City" %}
        {% endif %}
        {% if 'voting_address.locationcongress' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Cong" %}
        {% endif %}
        {% if 'voting_address.locationstatesenate' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="SSen" %}
        {% endif %}
        {% if 'voting_address.locationstatehouse' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="HOD" %}
        {% endif %}
        {% if 'voting_address.locationmagistrate' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Mag" %}
        {% endif %}
        {% if 'voting_address.locationborough' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Bor" %}
        {% endif %}
        {% if 'voting_address.locationprecinct' in show_columns or not show_columns %}
          {% include './_list_head.html' with field="Pct" %}
        {% endif %}
      </div>

      {% for person in object_list %}
        <div class="row">
          <div class="listfield"><a href="{% url 'sdcpeople:person-detail' person.pk %}">view</a></div>
        
          {% if 'vb_voter_id' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.vb_voter_id  %}
          {% endif %}
          {% if 'name_last' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person  %}
          {% endif %}
          {% if 'is_quorum' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.membership_status.is_quorum|yesno:"Y,N" %}
          {% endif %}
          {% if 'membership_status' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.membership_status %}
          {% endif %}
          {% if 'positions' in show_columns or not show_columns %}
            {% include 'touglates/list_fields.html' with field_1=person.positions.all.0 field_2=person.positions.all.1 field_3=person.positions.all.2 between_fields=','%}
          {% endif %}
          {% if 'submemberships' in show_columns or not show_columns %}
            {% include 'touglates/list_fields.html' with field_1=person.submembership_set.all.0.subcommittee field_2=person.submembership_set.all.1.subcommittee field_3=person.submembership_set.all.2.subcommittee between_fields=','%}
          {% endif %}
          {% if 'contactvoice' in show_columns or not show_columns %}
              {% include 'touglates/list_fields.html' with field_1=person.contactvoice_set.all.0.number field_2=person.contactvoice_set.all.1.number between_fields="," %}
          {% endif %}
          {% if 'contacttext' in show_columns or not show_columns %}
              {% include 'touglates/list_fields.html' with field_1=person.contacttext_set.all.0.number field_2=person.contacttext_set.all.1.number between_fields="," %}
          {% endif %}
          {% if 'contactemail' in show_columns or not show_columns %}
              {% include 'touglates/list_fields.html' with field_1=person.contactemail_set.all.0.address field_2=person.contactemail_set.all.1.address between_fields="," %}
          {% endif %}
          {% if 'voting_address' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.voting_address %}
          {% endif %}
          {% if 'voting_address.locationcity' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.voting_address.locationcity %}
          {% endif %}
          {% if 'voting_address.locationcongress' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.voting_address.locationcongress %}
          {% endif %}
          {% if 'voting_address.locationstatesenate' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.voting_address.locationstatesenate %}
          {% endif %}
          {% if 'voting_address.locationstatehouse' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.voting_address.locationstatehouse %}
          {% endif %}
          {% if 'voting_address.locationmagistrate' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.voting_address.locationmagistrate %}
          {% endif %}
          {% if 'voting_address.locationborough' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.voting_address.locationborough %}
          {% endif %}
          {% if 'voting_address.locationprecinct' in show_columns or not show_columns %}
            {% include './_list_field.html' with field=person.voting_address.locationprecinct %}
          {% endif %}

        </div>
      {% endfor %}
        <div>Count: {{ count }}</div>
    </div>
  </div>
  <div class="pagination">

      <span class="step-links">
          {% if page_obj.has_previous %}
              <a id="a_first" href="?page=1">&laquo; first</a>
              <a id="a_previous" href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}

          <span class="current">
              Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
          </span>

          {% if page_obj.has_next %}
              <a id="a_next" href="?page={{ page_obj.next_page_number }}">next</a>
              <a id="a_last" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
      </span>
  </div>

{% endblock %}
{% block bottomscript %}
  {{ block.super }}

  <script>

    for( paginator of ['a_first', 'a_previous', 'a_next', 'a_last']) {
      if(!(document.getElementById(paginator)==null) ) {
        document.getElementById(paginator).addEventListener('click', function(e) {
          e.preventDefault()
          var frm_vista = document.getElementById('frm_vista')
          frm_vista.action = e.target.href
          let input_submitted = document.createElement('input')
          input_submitted.name='vista_query_submitted'
          input_submitted.value = 'true'
          frm_vista.appendChild(input_submitted)
          frm_vista.submit()
        });
      }
    }
  </script>


  <script>
    document.getElementById('btn_showvista').addEventListener('click', function(e){
      e.preventDefault
      toggleVisibility('div_vista', 'btn_showvista')
    });

    document.addEventListener('keydown', function(e) {
      if(e.ctrlKey) {
        if(e.shiftKey) {
          if(e.which==70) {
            e.preventDefault();
             toggleVisibility('div_vista', 'btn_showvista')
          }
        }
      }
    });
    toggleVisibility('div_vista', 'btn_showvista', 0 )

  </script>
{% endblock %}
