{% extends './_form.html' %}
{% load static %}

{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">

    <div class="form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <input type="hidden" name='opener' id="input_opener">

      <div id="div_name_first">
        {% include 'touglates/form_field.html' with field=form.name_first %}
      </div>
      <div id="div_name_middles">
        {% include 'touglates/form_field.html' with field=form.name_middles %}
      </div>
      <div id="div_name_last">
        {% include 'touglates/form_field.html' with field=form.name_last %}
      </div>
      <div id="div_name_common">
        {% include 'touglates/form_field.html' with field=form.name_common %}
      </div>
      <div id="div_membership_status">
        {% include 'touglates/form_field.html' with field=form.membership_status %}
      </div>
      <div id="div_voting_address">
        {% include 'touglates/form_field.html' with field=form.voting_address %}
      </div>
      <div id="div_positions">
        {% include 'touglates/form_field.html' with field=form.positions %}
      </div>

      <h4>Voice Phones</h4>

      {{ contactvoices.management_form }}
      {% for contactvoiceform in contactvoices.forms %}
        {% if contactvoiceform.id.value > 0 %}
          <div id="div_contactvoiceform_{{ contactvoiceform.id.value }}" class="contactvoiceformsetform"  >
            {% for hiddenfield in contactvoiceform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.number %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.label %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.is_mobile %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.rank_number %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.extra %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.alert %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.DELETE %}
          </div>
        {% else %}
          <div class="contactvoiceformsetform contactvoicenewform" >
            {% for hiddenfield in contactvoiceform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.number %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.label %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.is_mobile %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.rank_number %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.extra %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.alert %}
            {% include 'touglates/form_field.html' with field=contactvoiceform.DELETE %}
          </div>
        {% endif %}
      {% endfor %}
      {% include 'touglates/detail_field.html' with label='<button type="button" id="button_addcontactvoice">add</button>' %}
      {% for contactvoice in object.contactvoice_set.all %}
        {% with cvid=contactvoice.id|stringformat:"s" %}
          {% with button_as_label='<button type="button" id="button_editcontactvoice_'|add:cvid|add:'" data-formid="div_contactvoiceform_'|add:cvid|add:'" data-displayid="tr_contactvoice_'|add:cvid|add:'" class="contactvoice_edit_button">edit</button>'|safe %}
            {% include 'touglates/detail_fields.html' with label=button_as_label field_1=contactvoice.number field_2="contactvoice.label" field_3=contactvoice.get_is_mobile_display %}
            {% if contactvoice.extra %}{% include 'touglates/detail_field.html' with field=contactvoice.extra %}{% endif %}
            {% if contactvoice.alert %}{% include 'touglates/detail_field.html' with field=contactvoice.alert %}{% endif %}
            {% endwith %}
        {% endwith %}
      {% endfor %}

      <h4>Text Phones</h4>

      {{ contacttexts.management_form }}
      {% for contacttextform in contacttexts.forms %}
        {% if contacttextform.id.value > 0 %}
          <div id="div_contacttextform_{{ contacttextform.id.value }}" class="contacttextformsetform"  >
            {% for hiddenfield in contacttextform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=contacttextform.number %}
            {% include 'touglates/form_field.html' with field=contacttextform.label %}
            {% include 'touglates/form_field.html' with field=contacttextform.is_mobile %}
            {% include 'touglates/form_field.html' with field=contacttextform.rank_number %}
            {% include 'touglates/form_field.html' with field=contacttextform.extra %}
            {% include 'touglates/form_field.html' with field=contacttextform.alert %}
            {% include 'touglates/form_field.html' with field=contacttextform.DELETE %}
          </div>
        {% else %}
          <div class="contacttextformsetform contacttextnewform" >
            {% for hiddenfield in contacttextform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=contacttextform.number %}
            {% include 'touglates/form_field.html' with field=contacttextform.label %}
            {% include 'touglates/form_field.html' with field=contacttextform.is_mobile %}
            {% include 'touglates/form_field.html' with field=contacttextform.rank_number %}
            {% include 'touglates/form_field.html' with field=contacttextform.extra %}
            {% include 'touglates/form_field.html' with field=contacttextform.alert %}
            {% include 'touglates/form_field.html' with field=contacttextform.DELETE %}
          </div>
        {% endif %}
      {% endfor %}
      {% include 'touglates/detail_field.html' with label='<button type="button" id="button_addcontacttext">add</button>' %}
      {% for contacttext in object.contacttext_set.all %}
        {% with cvid=contacttext.id|stringformat:"s" %}
          {% with button_as_label='<button type="button" id="button_editcontacttext_'|add:cvid|add:'" data-formid="div_contacttextform_'|add:cvid|add:'" data-displayid="tr_contacttext_'|add:cvid|add:'" class="contacttext_edit_button">edit</button>'|safe %}
            {% include 'touglates/detail_fields.html' with label=button_as_label field_1=contacttext.number field_2=contacttext.label field_3=contacttext.get_is_mobile_display %}
            {% if contacttext.extra %}{% include 'touglates/detail_field.html' with field=contacttext.extra %}{% endif %}
            {% if contacttext.alert %}{% include 'touglates/detail_field.html' with field=contacttext.alert %}{% endif %}
            {% endwith %}
        {% endwith %}
      {% endfor %}

      <h4>Emails</h4>

      {{ contactemails.management_form }}
      {% for contactemailform in contactemails.forms %}
        {% if contactemailform.id.value > 0 %}
          <div id="div_contactemailform_{{ contactemailform.id.value }}" class="contactemailformsetform"  >
            {% for hiddenfield in contactemailform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=contactemailform.address %}
            {% include 'touglates/form_field.html' with field=contactemailform.label %}
            {% include 'touglates/form_field.html' with field=contactemailform.rank_number %}
            {% include 'touglates/form_field.html' with field=contactemailform.extra %}
            {% include 'touglates/form_field.html' with field=contactemailform.alert %}
            {% include 'touglates/form_field.html' with field=contactemailform.DELETE %}
          </div>
        {% else %}
          <div class="contactemailformsetform contactemailnewform" >
            {% for hiddenfield in contactemailform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=contactemailform.address %}
            {% include 'touglates/form_field.html' with field=contactemailform.label %}
            {% include 'touglates/form_field.html' with field=contactemailform.rank_number %}
            {% include 'touglates/form_field.html' with field=contactemailform.extra %}
            {% include 'touglates/form_field.html' with field=contactemailform.alert %}
            {% include 'touglates/form_field.html' with field=contactemailform.DELETE %}
          </div>
        {% endif %}
      {% endfor %}
      {% include 'touglates/detail_field.html' with label='<button type="button" id="button_addcontactemail">add</button>' %}
      {% for contactemail in object.contactemail_set.all %}
        {% with cvid=contactemail.id|stringformat:"s" %}
          {% with button_as_label='<button type="button" id="button_editcontactemail_'|add:cvid|add:'" data-formid="div_contactemailform_'|add:cvid|add:'" data-displayid="tr_contactemail_'|add:cvid|add:'" class="contactemail_edit_button">edit</button>'|safe %}
            {% include 'touglates/detail_fields.html' with label=button_as_label field_1=contactemail.address field_2=contactemail.label field_3=contactemail.get_is_mobile_display %}
            {% if contactemail.extra %}{% include 'touglates/detail_field.html' with field=contactemail.extra %}{% endif %}
            {% if contactemail.alert %}{% include 'touglates/detail_field.html' with field=contactemail.alert %}{% endif %}
            {% endwith %}
        {% endwith %}
      {% endfor %}


      <h3>Committee Memberships</h3>

      {{ submemberships.management_form }}
      {% for submembershipform in submemberships.forms %}
        {% if submembershipform.id.value > 0 %}
          <div id="div_submembershipform_{{ submembershipform.id.value }}" class="submembershipformsetform"  >
            {% for hiddenfield in submembershipform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=submembershipform.subcommittee %}
            {% include 'touglates/form_field.html' with field=submembershipform.position %}
            {% include 'touglates/form_field.html' with field=submembershipform.DELETE %}
          </div>
        {% else %}
          <div class="submembershipformsetform submembershipnewform" >
            {% for hiddenfield in submembershipform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=submembershipform.subcommittee %}
            {% include 'touglates/form_field.html' with field=submembershipform.position %}
            {% include 'touglates/form_field.html' with field=submembershipform.DELETE %}
          </div>
        {% endif %}
      {% endfor %}
      {% include 'touglates/detail_field.html' with label='<button type="button" id="button_addsubmembership">add</button>' %}
      {% for submembership in object.submembership_set.all %}
        {% with cvid=submembership.id|stringformat:"s" %}
          {% with button_as_label='<button type="button" id="button_editsubmembership_'|add:cvid|add:'" data-formid="div_submembershipform_'|add:cvid|add:'" data-displayid="tr_submembership_'|add:cvid|add:'" class="submembership_edit_button">edit</button>'|safe %}
            {% include 'touglates/detail_fields.html' with label=button_as_label field_1=submembership.subcommittee field_2=submembership.position  %}
          {% endwith %}
        {% endwith %}
      {% endfor %}


      <h4>Links</h4>

      {{ links.management_form }}
      {% for linkform in links.forms %}
        {% if linkform.id.value > 0 %}
          <div id="div_linkform_{{ linkform.id.value }}" class="linkformsetform"  >
            {% for hiddenfield in linkform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=linkform.title %}
            {% include 'touglates/form_field.html' with field=linkform.href %}
            {% include 'touglates/form_field.html' with field=linkform.DELETE %}
          </div>
        {% else %}
          <div class="linkformsetform linknewform" >
            {% for hiddenfield in linkform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=linkform.title %}
            {% include 'touglates/form_field.html' with field=linkform.href %}
            {% include 'touglates/form_field.html' with field=linkform.DELETE %}
          </div>
        {% endif %}
      {% endfor %}
      {% include 'touglates/detail_field.html' with label='<button type="button" id="button_addlink">add</button>' %}
      {% for link in object.link_set.all %}
        {% with cvid=link.id|stringformat:"s" %}
          {% with button_as_label='<button type="button" id="button_editlink_'|add:cvid|add:'" data-formid="div_linkform_'|add:cvid|add:'" data-displayid="tr_link_'|add:cvid|add:'" class="link_edit_button">edit</button>'|safe %}
            {% include 'touglates/detail_field.html' with label=button_as_label field=link.title href=link.href href_atts="target='_blank'" %}
          {% endwith %}
        {% endwith %}
      {% endfor %}


      {% include 'touglates/form_field.html' with label="Submit Form" field='<button type="submit">Submit</button>' %}

    </div>

  </form>
{% endblock %}
{% block bottomscript %}
  {{ block.super }}
  <script>
    addRelatedPopupButton( 'id_voting_address', 'VotingAddress', '{% url "sdcpeople:votingaddress-create-popup" %}', '{% url "sdcpeople:votingaddress-update-popup" 0 %}')
    function getControlIdsForPopups(modelName) {
      controlIds={
        'VotingAddress': ['id_voting_address'],
      }
      return controlIds[modelName]
    }

  </script>

  <script>
    function enableFormsetForm(formid, displayid) {
      let form = document.getElementById(formid)
      document.getElementById(formid).style.display="block"
      document.getElementById(displayid).style.display="none"
    }
    function enableAddFormsetForm(formclass) {
      let newforms = document.getElementsByClassName(formclass)
      if( newforms.length > 0) {
        let newform = newforms[0]
        newform.style.display="block"
        newform.classList.remove(formclass)
      } else {
        alert('please save before adding more')
      }
    }
  </script>

  <script>

    let submembershipEditButtons = document.getElementsByClassName('submembership_edit_button')
    for( submembershipEditButton of submembershipEditButtons){
      submembershipEditButton.addEventListener('click', function(e){
        e.preventDefault()
        enableFormsetForm(e.target.dataset.formid, e.target.dataset.displayid)
      })
    }

    document.getElementById('button_addsubmembership').addEventListener('click', function(e){
      e.preventDefault()
      enableAddFormsetForm('submembershipnewform')
    })
    let submembershipforms = document.getElementsByClassName("submembershipformsetform")
    for( submembershipform of submembershipforms ){
      submembershipform.style.display="none"
    }

  </script>
  <script>

    let contactvoiceEditButtons = document.getElementsByClassName('contactvoice_edit_button')
    for( contactvoiceEditButton of contactvoiceEditButtons){
      contactvoiceEditButton.addEventListener('click', function(e){
        e.preventDefault()
        enableFormsetForm(e.target.dataset.formid, e.target.dataset.displayid)
      })
    }

    document.getElementById('button_addcontactvoice').addEventListener('click', function(e){
      e.preventDefault()
      enableAddFormsetForm('contactvoicenewform')
    })
    let contactvoiceforms = document.getElementsByClassName("contactvoiceformsetform")
    for( contactvoiceform of contactvoiceforms ){
      contactvoiceform.style.display="none"
    }

  </script>
  <script>

    let contacttextEditButtons = document.getElementsByClassName('contacttext_edit_button')
    for( contacttextEditButton of contacttextEditButtons){
      contacttextEditButton.addEventListener('click', function(e){
        e.preventDefault()
        enableFormsetForm(e.target.dataset.formid, e.target.dataset.displayid)
      })
    }

    document.getElementById('button_addcontacttext').addEventListener('click', function(e){
      e.preventDefault()
      enableAddFormsetForm('contacttextnewform')
    })
    let contacttextforms = document.getElementsByClassName("contacttextformsetform")
    for( contacttextform of contacttextforms ){
      contacttextform.style.display="none"
    }

  </script>
  <script>

    let contactemailEditButtons = document.getElementsByClassName('contactemail_edit_button')
    for( contactemailEditButton of contactemailEditButtons){
      contactemailEditButton.addEventListener('click', function(e){
        e.preventDefault()
        enableFormsetForm(e.target.dataset.formid, e.target.dataset.displayid)
      })
    }

    document.getElementById('button_addcontactemail').addEventListener('click', function(e){
      e.preventDefault()
      enableAddFormsetForm('contactemailnewform')
    })
    let contactemailforms = document.getElementsByClassName("contactemailformsetform")
    for( contactemailform of contactemailforms ){
      contactemailform.style.display="none"
    }

  </script>


  <script>

    let linkEditButtons = document.getElementsByClassName('link_edit_button')
    for( linkEditButton of linkEditButtons){
      linkEditButton.addEventListener('click', function(e){
        e.preventDefault()
        enableFormsetForm(e.target.dataset.formid, e.target.dataset.displayid)
      })
    }

    document.getElementById('button_addlink').addEventListener('click', function(e){
      e.preventDefault()
      enableAddFormsetForm('linknewform')
    })
    let linkforms = document.getElementsByClassName("linkformsetform")
    for( linkform of linkforms ){
      linkform.style.display="none"
    }

  </script>


  <script>
    addFilterInput("{{ form.voting_address.id_for_label }}")

  </script>

{% endblock %}

