  <h2>{{ object }}</h2>

  <div class="detail">
    {% include './_detail_field.html' with label=person_labels.name_last field=object.name_last %}
    {% include './_detail_field.html' with label=person_labels.name_first field=object.name_first %}
    {% include './_detail_field.html' with label=person_labels.name_common field=object.name_common %}
    {% include './_detail_field.html' with label=person_labels.name_middles field=object.name_middles %}
    {% include './_detail_field.html' with label=person_labels.membership_status field=object.membership_status %}
    {% include './_detail_field.html' with label=person_labels.voting_address field=object.voting_address %}
    {% include './_detail_field.html' with label="Congress" field=object.voting_address.locationcongress %}
    {% include './_detail_field.html' with label="State Senate" field=object.voting_address.locationstatesenate %}
    {% include './_detail_field.html' with label="House of Delegates" field=object.voting_address.locationstatehouse %}
    {% include './_detail_field.html' with label="Magistrate" field=object.voting_address.locationmagistrate %}
    {% include './_detail_field.html' with label="Borough" field=object.voting_address.locationborough %}
    {% include './_detail_field.html' with label="Precinct" field=object.voting_address.locationprecinct %}

  </div>
