{% extends './_base.html' %}
{% block content %}

  {% include './savedlist_detail_include.html' %}

  <div class="menu menu-bottom">
    {% if perms.sdcpeople.change_savedlist or is_this_user %}
      <div class="menu-item">
      <a href="{% url 'sdcpeople:savedlist-update' object.pk %}">Edit</a>
      </div>
    {% endif %}
    {% if perms.sdcpeople.delete_savedlist %}
      <div class="menu-item">
      <a href="{% url 'sdcpeople:savedlist-delete' object.pk %}">Delete</a>
      </div>
    {% endif %}
    <div class="menu-item">
    <a id="a_list_people" href="{% url 'sdcpeople:person-list-by' object.pk 'listmembership__savedlist' %}" >List People</a>
    </div>

  </div>

  {% endblock %}
