{% extends './_form.html' %}
{% load static %}

{% block content %}
  <h2>{{ object }}</h2>
  {{ form.errors }}
  <form method="POST">

    <div class="form">
      {% csrf_token %}
      {% for field in form.hidden_fields %}
        {{ field }}
      {% endfor %}

      <input type="hidden" name='opener' id="input_opener">

      <div id="div_name">
        {% include 'touglates/form_field.html' with field=form.name label='Name of Form' %}
      </div>
      <div id="div_name">
        {% include 'touglates/form_field.html' with field=form.shared label='Name of Form' %}
      </div>

      <h4>Membership on Saved Lists</h4>

      {{ listmemberships.management_form }}
      {% for listmembershipform in listmemberships.forms %}
        {% if listmembershipform.id.value > 0 %}
          <div id="div_listmembershipform_{{ listmembershipform.id.value }}" class="listmembershipformsetform"  >
            {% for hiddenfield in listmembershipform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=listmembershipform.person %}
            {% include 'touglates/form_field.html' with field=listmembershipform.DELETE %}
          </div>
        {% else %}
          <div class="listmembershipformsetform listmembershipnewform" >
            {% for hiddenfield in listmembershipform.hidden_fields %}
              {{ hiddenfield }}
            {% endfor %}
            {% include 'touglates/form_field.html' with field=listmembershipform.person %} 
            {% include 'touglates/form_field.html' with field=listmembershipform.DELETE %}
          </div>
        {% endif %}
      {% endfor %}
      {% include 'touglates/detail_field.html' with label='<button type="button" id="button_addlistmembership">add</button>' %}
      {% for listmembership in object.listmembership_set.all %}
        {% with cvid=listmembership.id|stringformat:"s" %}
            {% with button_as_label='<button type="button" id="button_editlistmembership_'|add:cvid|add:'" data-formid="div_listmembershipform_'|add:cvid|add:'" data-displayid="div_displaylistmembership_'|add:cvid|add:'" class="listmembership_edit_button">edit</button>'|safe %}
              {% include 'touglates/detail_field.html' with label=button_as_label field=listmembership.person  %}
            {% endwith %}
        {% endwith %}
      {% endfor %}



      {% include 'touglates/form_field.html' with label="Submit Form" field='<button type="submit">Submit</button>' %}

    </div>

  </form>
{% endblock %}
{% block bottomscript %}
  {{ block.super }}

  <script>
    function enableFormsetForm(formid, displayid) {
      let form = document.getElementById(formid)
      document.getElementById(formid).style.display="block"
      document.getElementById(displayid).style.display="none"
    }
    function enableAddFormsetForm(formclass) {
      let newforms = document.getElementsByClassName(formclass)
      if( newforms.length > 0) {
        let newform = newforms[0]
        newform.style.display="block"
        newform.classList.remove(formclass)
      } else {
        alert('please save before adding more')
      }
    }
  </script>

  <script>
    console.log('tp235kk18')
    let listmembershipEditButtons = document.getElementsByClassName('listmembership_edit_button')
    for( listmembershipEditButton of listmembershipEditButtons){
      console.log('tp235kk17')
      listmembershipEditButton.addEventListener ('click', function(e){
        console.log('tp235kk16')
        e.preventDefault()
        enableFormsetForm(e.target.dataset.formid, e.target.dataset.displayid)
      })
    }

    document.getElementById('button_addlistmembership').addEventListener ('click', function(e){
      e.preventDefault()
      enableAddFormsetForm('listmembershipnewform')
    })
    let listmembershipforms = document.getElementsByClassName("listmembershipformsetform")

    for( listmembershipform of listmembershipforms ){
      listmembershipform.style.display="none"
    }

  </script>



  <script>
    addFilterInput("{{ form.voting_address.id_for_label }}")

  </script>

{% endblock %}

