  <h2>{{ object }}</h2>

  <div class="detail">
    {% include 'touglates/detail_field.html' with label=savedlist_labels.name field=object.name %}
    {% include 'touglates/detail_field.html' with label="Date" field=object.when %}

    {% include 'touglates/detail_field.html' with label="Members" field="" %}
    <table width="100%">
    {% for member in object.listmembership_set.all %}
    <tr>
      {% url 'sdcpeople:person-detail' member.person.pk as person_url %}
      {% include 'touglates/list_field.html' with field="Member" tag="th" %} 
      {% include 'touglates/list_field.html' with field=member.person href_1=person_url tag="td" %}
      {% include 'touglates/list_field.html' with field=member.person.contactvoice_set.all.0 tag="td" %}
    </tr>
    {% endfor %}
    </table>
  </div>