<h2>{{ object }}</h2>
<div class="detail">
  {% include './_detail_field.html' with label=votingaddress_labels.street_address field=object.street_address %}
  {% include './_detail_field.html' with label=votingaddress_labels.locationcongress field=object.locationcongress %}
  {% include './_detail_field.html' with label=votingaddress_labels.locationstatehouse field=object.locationstatehouse %}
  {% include './_detail_field.html' with label=votingaddress_labels.locationstatesenate field=object.locationstatesenate %}
  {% include './_detail_field.html' with label=votingaddress_labels.locationmagistrate field=object.locationmagistrate %}
  {% include './_detail_field.html' with label=votingaddress_labels.locationborough field=object.locationborough %}
  {% include './_detail_field.html' with label=votingaddress_labels.locationprecinct field=object.locationprecinct %}

  <h3>People</h3>
  {% for person in object.person_set.all %}
    <div class="relatedset relatedperson" id="div_person-{{ forloop.counter0 }}">
      {% url 'sdcpeople:person-detail' person.id as detail_url %}
      {% include 'touglates/detail_field.html' with field_1='<a href="'|add:detail_url|add:'">'|add:person.name_first|add:'</a>'|safe field_2='<a href="'|add:detail_url|add:'">'|add:person.name_last|add:'</a>'|safe  %}
    </div>
  {% endfor %}
</div>

