.body, h1, h2 {
    color:darkblue;
}
.hidden {
    display:none;
}

#div_homelogo {
    margin: 5em auto;
    text-align: center;
}
#img_homelogo {
    text-align: center;
    width:40%;
}

.width_010 {
    width:10%;
}
.width_020 {
    width:20%;
}
.width_025 {
    width:25%;
}
.width_030 {
    width:30%;
}
.width_033 {
    width:33.33%;
}
.width_040 {
    width:40%;
}
.width_050 {
    width:50%;
}
.width_060 {
    width:60%;
}
.width_066 {
    width:66.66%;
}
.width_070 {
    width:70%;
}
.width_075 {
    width:75%;
}
.width_080 {
    width:80%;
}
.width_090 {
    width:90%;
}
.width_100 {
    width:100%;
}

.menu-top, .app-menu {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1px 1px;
}
.menu-bottom {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 1px 1px;
}

.formset {
    margin-left:2em;
}

.form-field-outer-wrapper {
    margin-top:.5em;
}

.form-field-inner-wrapper {
    display:flex;
}

.form-field-label {
    width:15%;
    flex-grow:0;
}

.form-field-help-text {
    margin-left:15%;
}

.list {
    width:100%;
}
.list .row {
}
.list .rowhead {
    background-color:#eeeeff;
}

.list .field {
    border: 1px solid lightblue;
    padding-left: .2em;
    padding-right: .2em;
}
.list table {
    width:100%;
}
.list .rowhead .field {
    border:1px solid blue;
}
.list .field::after {
    content: "\00a0"
}

.detail {
    width:100%;
}

.control .label {
    flex-grow:0;
    width:15%;
}

.detailset {
    margin-left:2em;
}

.detail-field-outer-wrapper {
    width:100%;
    margin-top:.5em;
}

.detail-field-inner-wrapper {
    display:flex;
}

.detail-field-label {
    width:15%;
}


.relatedset {
    margin-left:2em;
}



/* Colors, Font, etc, */
.menu a {
    text-decoration: none;
}

/* Colors */
.menu {
    color: white;
    background-color:cornflowerblue;
}

.app-menu {
    background-color:cadetblue
}

.menu a:link, .menu a:visited {
    color:white;
}

.vista {
    display:grid;
    grid-template-columns:1fr 2fr 1fr 1fr;
}

.vista .control {
    display:flex;
}


.vista .rowlabel {
    /* width:15%; */
    grid-row: auto;
    grid-column: 1 / span 1
}

.vista .controlset {
    grid-column: auto / span 1;
    grid-row: auto;
    display:flex;
}

.vista .help_text {
    margin-left:15%;
}

.vista .viewformset {
    margin-left:2em;
}

.vista .control {
    display:flex;
}
